config_opts['root'] = 'vzlinux-6-autotest-x86_64'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install @base sudo python-psutil xorg-x11-server-Xvfb'
config_opts['dist'] = 'vz6'  # only useful for --resultdir variable subst
config_opts['releasever'] = '6'

config_opts['yum.conf'] = """
[main]
keepcache=1
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

# repos
[base]
name=VzLinux6
baseurl=http://kojistorage.eng.sw.ru/mash/dist-vz6/latest/x86_64/os
enabled=1
gpgcheck=0


"""
